---
layout: base
---
.row
  .large-12.columns
    %h1 Lambdamatic
    %hr
.row
  .large-12.columns
    .panel.radius
      :asciidoc
        == Write type-safe queries like Java 8 collection streams

        [source,java]
        ----
        List<Blog> = blogs
          .filter( blog -> blog.status.equals(PUBLISHED) && blog.author.equals("Xavier") )
          .toList();
        ----
  
        Lambdamatic exposes databases as *collections of Java objects*.
        Write *queries* like you write *stream operations* on Java 8 collections.
        Define the predicates as condition on your actual object properties.

        It does its magic by converting lambdas into an AST of predicates.
        This AST is then converted into a database query.

        Lambdamatic comes in two incarnations: MongoDB and JPA.
      .row
        .large-8.large-offset-2.columns
          %a.button{:href=>'#mongodb'} Explore Lambdamatic MongoDB
          %a.button{:href=>'#jpa'} Explore Lambdamatic JPA

.odd
  .row
    .large-12.columns
      #mongodb
      :asciidoc
        == Lambdamatic MongoDB

        Lambdamatic MongoDB is an *Object Mapper*.
        It exposes MongoDB collections as Java collections.
        Stream operations (filter, map, etc) are converted into server side MongoDB queries.

        [source,java]
        ----
        class Blog
        @Document(collection="blogs")
        public class Blog {

          @DocumentId
          private String id;

          @DocumentField
          private String title;

          @DocumentField
          private String url;

          @DocumentField
          private Status status;

          @DocumentField
          private String author;
        }

        public enum Status {
          DRAFT,
          PUBLISHED
          DELETED
        }

        List<Blog> = blogs
          .filter( blog -> blog.status.equals(PUBLISHED) && blog.author.equals("Xavier") )
          .toList();
        ----

        Lambdamatic MongoDB supports the following features:

        * nested documents
        * collection or arrays of nested documents
        * geospatial queries
        * ...
      %a.button{:href=>'/mongodb/'} More on Lambdamatic MongoDB

.row.even
  .large-12.columns
    :asciidoc
      === Lambdamatic JPA

      Lambdamatic JPA is a new way of writing JPA queries.
      Write Java 8 stream-like *code* and let Lambdamatic JPA convert this code into JPA queries.

      [WARNING]
      ====
      this module is a work in progress.
      The code is your friend at this stage.
      ====

    %a.button{:href=>'/jpa/'} More on Lambdamatic JPA
